@import url("layout_header.css");
@import url("layout_main.css");
@import url("layout_footer.css");
@import url("color_style.css");

header{
    position:sticky;
    top : 0px ;
}

footer {
    position: sticky;
    bottom: 0;
}



